<% include layout/header.ejs %>

  <div class="container">
    <div id="content" class="content-help"  style="background-color : white; margin: 5px;">
    <h1 class="title-help">HƯỚNG DẪN MUA HÀNG</h1>
      <div class="one-content-help">
            <b class="title-one-content-help" style="font-size:20px">
                I. Để mua hàng, Quý khách không cần trực tiếp đến các Showroom của chúng tôi, quý khách có thể lựa chọn cách mua hàng Online bằng cách chọn một trong những cách mua hàng sau:
            </b>
            <br>
            <br>
                      <div class= "word" style="font-size:16px ; ">
                      <b style= "font-size:16px">Cách 1</b>:Gọi điện thoại đến Tổng đài 1800 6715 hoặc 0984648592 từ 8g - 20g (cả CN và Ngày lễ) để đặt hàng. Với đội ngũ nhân viên chuyên nghiệp, giàu kinh nghiệm, chúng tôi luôn sẵn sàng phục vụ, tư vấn và hỗ trợ quý khách mua được sản phẩm ưng ý
            <br>
                      <br>
                          <b>Cách 2</b>: Đặt mua hàng Online trên Website: OAYYA.com
                      <br>   
            <br>
                          <b>Bước 1</b>: Truy cập website và lựa chọn sản phẩm cần mua để mua hàng
            <br>
            <br>
                          <b>Bước 2</b>: Click và sản phẩm muốn mua, màn hình hiển thị ra pop up với các lựa chọn sau :
            <br>
                          <p>Nếu Quý khách muốn tiếp tục mua hàng: Bấm vào phần Mua ở đâu? và sau đó làm theo hướng dẫn</p>
            <br>
                          <b>Bước 3</b>: Lựa chọn thông tin tài khoản thanh toán     
            </div> 
      </div>
      
      <br>    
    <div class="two-content-help" style= "font-size:16px">
      <b class="title-two-content-help" >
        II. Thanh toán
      </b>
      <br>
      Sau khi xác nhận đơn hàng, OAYYA sẽ tiến hành giao hàng tận nơi, các bạn vui lòng nhận hàng và thanh toán cho nhân viên giao hàng. Miễn phí vận chuyển toàn quốc
      <br>
      <br>
      <img src="/images/dathang.png" width="50%">
      <br>
      <br>
      Các bên trong việc thỏa thuận mua bán phải tuân thủ các quy định về nghĩa vụ của các bên trong giao dịch dân sự và các quy định về trách nhiệm được quy định trong Luật Thương mại năm 2005 bao gồm:nghĩa vụ của bên bán và nghĩa vụ của bên mua.
    </div>
    <div class="three-content-help">
      <b class="title-three-content-help">
        <h3>III.    Nghĩa vụ của Bên Bán:</h3>
      </b>
      <div style="font-size: 17px">   
      1.    Giao hàng đúng đối tượng và chất lượng: Bên bán phải giao hàng đúng đối tượng và chất lượng theo thỏa thuận trong hợp đồng và theo quy định của pháp luật. 
      <br>
      <br>
      2.    Giao đúng số lượng hàng đã thỏa thuận trong hợp đồng: Bên bán phải giao đúng số lượng hàng hóa đã thỏa thuận, trong trường hợp nếu bên bán giao không đúng số lượng thì bên mua có quyền từ chối và trả lại cho bên bán.  Nếu không có ý kiến khiếu nại gì thì được coi là đã chấp nhận việc sửa đổi số lượng hàng hóa.
      <br>
      <br>
      3.    Giao chứng từ kèm theo hàng hóa.
      <br>
      <br>
      4.    Giao hàng đúng thời hạn và địa điểm
      <br>
      <br>
      5.    Kiểm tra hàng hóa trước khi giao hàng
      <br>
      <br>
      6.    Nghĩa vụ bảo hành hàng hóa
      <br>
      <br>
      7.    Nghĩa vụ bảo đảm quyền sở hữu đối với hàng hoá
    </div>
    </div>
      <br>
    <div class="four-content-help" style="font-size: 17px">
      <b class="title-four-content-help">
      <h3> IV.     Nghĩa vụ của bên mua:</h3>
      </b>
      1.    Nhận hàng và thanh toán tiền 
      <br>
    <li>Bên mua có nghĩa vụ thanh toán tiền mua hàng và nhận hàng theo thỏa thuận. Tuân thủ các phương thức thanh toán, thực hiện việc thanh toán theo trình tự, thủ tục đã thỏa thuận và theo quy định của pháp luật.</li>
    <br>
    <li>Bên mua vẫn phải thanh toán tiền mua hàng trong trường hợp hàng hoá mất mát, hư hỏng sau thời điểm rủi ro được chuyển từ bên bán sang bên mua, trừ trường hợp mất mát, hư hỏng do lỗi của bên bán gây ra.</li>
      <br>
      2.    Đảm bảo quyền sở hữu trí tuệ của hàng hóa .Chung lại thì nghĩa vụ quan trọng và hàng đầu của các bên vẫn là tuân thủ nghiêm túc những nội dung đã thỏa thuận trong hợp đồng, phù hợp quy định pháp luật và đạo đức xã hội.
      <br>
    </div>
   </div>
  </div>
<% include layout/footer.ejs %>



<style type="text/css">
  #categorymenu {
    display: none !important;
  }
</style>