
<% include layout/header.ejs %>
<style>
    body{
        padding: 10px;
      
       font-size: 16px;
    }

    .left{
        padding: 20px;
    }
    .tab1{
        font-size: 30px;
        width: 50%;
        height: 100%;
        line-height: 2;
        
    }
  #categorymenu {
    display: none !important;
  }
</style>
<div class="container">
    <div class="left">
         <h5>
            <b style= "font-size:20px">  I. Chuyển khoản :</b>
        </h5>
            Chuyển khoản là hình thức thanh toán nhanh chóng, an toàn và tiện lợi nhất. Chỉ cần sở hữu tài khoản ngân hàng quý khách có thể thanh toán bất cứ lúc nào và tại bất cứ đâu.
            <br>
            <b style="color:red ; font-size:16px">Quý khách lưu ý:</b>
            
            <br>
            * Phải chuyển khoản từ tài khoản công ty của quý khách đến tài khoản công ty của chúng tôi để hợp lệ hóa đơn.
            <br>
            * Phải ghi nội dung chuyển khoản như hướng dẫn .
    </div>
    <div class="left">
            <h5>
                <b style= "font-size:20px">II. Thanh toán tại nhà</b>

            </h5>

            <table>
                <tr>
                    <td>
                        Trong thời gian từ thứ 2-7 ngày làm việc, nhân viên sẽ đến địa chỉ của bạn để giao hàng & thu tiền. Với phương thức thanh toán tại nhà, nhân viên sẽ đến địa chỉ ở mục Thông tin liên hệ bạn đã đăng ký ở bước trước để giao hàng và thu tiền. Quý khách có thể kiểm tra thật kỹ thông tin sản phẩm đã đặt và thanh toán trực tiếp cho nhân viên giao nhận.
                        <br>
                        <b style="font-size: 16px">Những lưu ý khi thanh toán sản phẩm :</b>
                    </td>
                </tr>

                <tr >

                    <td >
                        - Sau khi đặt hàng thành công, chúng tôi sẽ gửi thông tin đặt hàng qua email hoặc qua tin nhắn mà quý khách cung cấp. Quý khách vui lòng kiểm tra thông tin thật kỹ về họ tên khách hàng , sản phẩm và những vấn đề liên quan khác. Mọi thay đổi hoặc sai sót trong quá trình đặt hàng đều có thể mất thêm phí hoặc không được thực hiện giao hàng nên quý khách hãy kiểm tra kỹ trước khi thanh toán.
                    </td>
                </tr>
                <br>
                <tr>

                    <td>
                        - Sản phẩm có thể cần thanh toán ngay lập tức hoặc có một khoản thời gian nhất định để yêu cầu thanh toán và tối đa không quá 12 tiếng kể từ lúc đặt hàng, thời gian chính xác nhất sẽ được gửi qua email của quý khách,sau thời gian trên sản phẩm sẽ hủy và chúng tôi không chịu trách nhiệm nếu quá hạn mà vé không được thanh toán.
                    </td>   
                </tr>

                <tr >
                    <td>
                        - Sau khi thanh toán xong vé điện tử sẽ được gửi qua email hoặc số điện thoại đăng ký vé. Quý khách vui lòng lưu trữ lại thông tin để làm thủ tục cho hành khách trước chuyến bay. Nếu thất lạc vé hoặc tin nhắn quý khách có thể liên hệ vào số hotline <b>0984648592</b> để nhận lại sản phẩm.
                    </td>
                </tr>

            </table>
    </div>
</div>
<% include layout/footer.ejs %>